services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=root
      - POSTGRES_DB=siodb
      - POSTGRES_PASSWORD=root
      
  adminer:
      image: adminer
      restart: always
      ports:
        - 8080:8080
